p{
   
}

div{
    background-color: tomato;
}
ul{
    color: red;
}

input[type='text'], input[type='email']{
    color: aquamarine;
    padding: 10px;
    display: block;
    margin-bottom: 4px;
}
.how{
    background-color: aquamarine;
    color: tomato;
}
